# gradle
.gradle/
**/.gradle/
build/
out/
classes/

# eclipse
*.launch
**/*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode + eclipse
.settings/
**/.settings/
.vscode/
**/.vscode/
bin/
**/bin/
.classpath
**/.classpath
.project
**/.project
**/.factorypath

# macos
*.DS_Store

# fabric
run/
**/run/
!**/src/**/run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
/.apt_generated/
